body {font-family: Arial;}
fieldset {border-style:none;}
img {border-style:none;}

form.jqopenid ul { text-align:center; list-style-type:none; display:inline;}
form.jqopenid ul li {float:left; padding:4px}
form.jqopenid ul li span {padding:0 1em 0 3px}
form.jqopenid fieldset {clear:both; padding:1em 0}
form.jqopenid div+fieldset {display:none}
form.jqopenid label {display:block; font-weight:bold; font-size:larger; margin-bottom:.5em}
input[name=openid_username] {width:8em}
input[name=openid_identifier] {width:18em}
form.jqopenid ul li.highlight { -moz-border-radius:4px; -webkit-border-radius:4px; background-color: #FD6}
form.jqopenid fieldset div {font-family:arial;-moz-border-radius:4px; -webkit-border-radius:4px; 
                          background: #ACDCFC url(../images/openid/fadegrey.png); padding:10px;display:inline-block}
form.jqopenid input[type='submit'] {margin-left:1em;}

.openid_logo{color:#F7931E;padding:6px 0px 8px 28px; background: url(../images/openid/openidico.png) no-repeat}

#openid_login{float:left; font-size:larger; width:30%; margin:2em 1em; text-align:center}
#openid_login div{margin-top:0.5em}
#openid_login div+span{font-size:smaller}
